# system/hidden files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.DS_Store
.idea/*
.todo


# project specific
content/uploads/*
pick-n-pull/
local-config.php
wp/.gitignore
wp/wordfence-waf.php
content/wflogs/*
content/advanced-cache.php
